@import "normalize.css";
@import "base/_variables";
@import "base/_mixins";
@import "base/_base";
@import "base/_typography";
@import "base/_sprite";
@import "modules/*";

/**
 * Example CSS used on Project Starter demo page
 */
body {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    border: 12px solid #333c46;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #d18316 url("/assets/images/trendyminds-background.jpg") no-repeat center center;
  background-visibility: fixed;
  background-size: cover;
  filter: blur(2px);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #363532;
    opacity: .25;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 50rem;
  height: 50rem;
  transform: translate(-50%, -50%);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .65) 0%, rgba(255, 255, 255, .15) 100%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.logo--bolt {
  z-index: 1;
}
